<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>116340087978-j7cfp6n5a8pjnqu0nm4157opgfburp9m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.116340087978-j7cfp6n5a8pjnqu0nm4157opgfburp9m</string>
	<key>API_KEY</key>
	<string>AIzaSyALnz7yDH9afeHh-ih_10FFLXbDKUmPHac</string>
	<key>GCM_SENDER_ID</key>
	<string>116340087978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>my-todo-edd2f</string>
	<key>STORAGE_BUCKET</key>
	<string>my-todo-edd2f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:116340087978:ios:c7a1f9953e3d9a20bd84d3</string>
</dict>
</plist>